#bigger-screens a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color:transparent;
    transition-duration: 0.5s;
  }
  .myupnav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    
    text-align:center;
}
.myupnav h1{
    color:black;
}
  #bigger-screens a:hover {
    text-shadow:0 0 5px white;
    color: white;
    text-decoration: none;
  }
  .home{
      border-bottom: 2px solid white;
  }
  #bigger-screens a.active {
    color: white;
    text-decoration: none;
  }
  #active{
      border-bottom: 2px solid white;
  }
  .crtxt{
      color:black;
  }
  #bigger-screens a.active:hover{
      background-color: red;
  }
  .topnav{
      background-image: url("back/Plain-Red-Backgrounds2.jpg");
      background-size: cover;
      position: fixed;
      z-index: 2;
      top:0;
      width: 100%;
      
  }
  
  #userdata{
      display: none;
  }
  .left{
      display: block;
      float: left;
  }
 .right{
     display: inline-block;
     float: right;
 }
 .logged-in{
     display: none;
 }
 #logout,#sign-up,#login,#sidenav{
     color:white;
padding: 5px;
border:1px solid white;
background-color: transparent;
width:auto;
height:auto;
position: relative;
top:7px;
transition-duration: 0.5s;
 }
 #logout:hover,#sign-up:hover,#login:hover{
     background-color: red;
 }
 .no{
     color:white;
     text-shadow:none;
 }
 #sidenav{
     border:none;
     padding:5px 10px;
 }
 #bigger-screens{
     display: none;

 }
 #mobile{
     display: block;
 }
 .txt{
     color: white;
     padding: 5px;
     position: relative;
     top: 7px;
     font-size:24px;
 }
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden; 
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    background-attachment: fixed;
}

.container
{
    filter: none;
    
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}
.LI
{
    display: none;
}
h1{
    color:white;
}
#signin-form{
    color:white;
    font-size: 24px;
    display: none;
    z-index:1;
    position: absolute;
    top:40%;
    left:45%;
    background-color: rgba(255, 0, 0, 0.651);
    box-shadow: 0 0 5px white;
    padding:10px 25px;
   background-color: transparent;
}
#close{
    font-size: 36px;
    color:whitesmoke;
    position: relative;
    left:70%;
}
#close:hover{
    color: rgba(0, 0, 0,0.6);
}
.vi{
    width:auto;
}
.close{
    color:white;
    opacity: 1;
}
button{
    padding: 5px 5px;
    background-color: transparent;
    color:white;
    border:2px white;
    transition-duration: 0.3s;
}
button:hover{
    color:black;
    border:2px solid black;
    background-color: whitesmoke
}
#content{
    display:block;
}
#creator{
   
    display:none;
}
input,textarea
{
    padding: 0;
    background-color: transparent;
    color:white;
    border: 2px solid white;
    height:27px;
    transition-duration: 0.5s;

}
textarea{
    height:50px;
}
input:focus,{
    height:30px;
    box-shadow: 0 0 5px lightblue;
}
#signup-form{
    color:white;
    font-size: 24px;
    display: none;
    z-index:1;
    position: absolute;
    top:20%;
    left:45%;
    background-color:rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px white;
    padding:10px 25px;
   
   background-attachment: fixed;
   overflow: scroll;
}
.card {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
font-family: arial;
background-color: white;

}
.name
{
    font-size: 36px;
    color:slategray;
}
.add{
    position: fixed;
    bottom:12px;
    right:12px;
    z-index:1;
    transition-duration: 0.4s;
}
.f1st{
    position: fixed;
    z-index: 1;
    bottom:110px;
    right:12px;
    transition-duration: 0.4s;
    
}
.s2nd{
    position: fixed;
    z-index: 1;
    bottom:225px;
    right:12px;
    transition-duration: 0.4s;
    
}
#add_n{
    display: none;
}
#create-new{
    color:white;
    font-size: 24px;
    display: none;
    z-index:1;
    position: absolute;
    top:20%;
    left:7%;
    height: auto;
    width: auto;
    background-color: maroon;
    box-shadow: 0 0 5px white;
    padding:10px 25px;
  
    

}
#verification-page{
    height: 100%;
    width: 100%;
    z-index: 3;
    display: none;
    position: fixed;
    top:25%;
}
.data_display{
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
}
.confirmation
{
    border: 2px solid white;
    padding: 25px 25px;
    background-color: maroon;
    position: fixed;
    display: none;
    top:30%;
    left:40%;
    z-index:5;

}
.confirm{
    background-color: red;
    border: 2px solid white;
    padding: 10px 10px;
    color: white;
}